.detail_body {
    height: auto;
  background-color: #f5f5f5;
  padding-top: 40px;
  a {
    text-decoration: none;
    color: black;
  }
  .font-color_blue {
    color: #38aef0;
  }
  .font-color_blue:hover{
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline;
    border-bottom: 2px solid #38aef0
  }
  .font-color_blue1 {
    color: #38aef0;
  }
  .font-color_blue1:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  .item_section {
    height: auto;
    width: 720px;
    background-color: white;
    margin: 0px auto 30px;
    padding: 30px;
    .cf:before, .cf:after {     //floatによるビュー崩れを無くす（clearfx）
      content:"";
      display:table
    }
    .cf:after { clear:both }
    .cf { zoom:1 }
    &__header {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      line-height: 1.4;
    }
    &__info {
      font-size: 14px;
      color: #888888;
      line-height: 1.5;
      margin-top: 8px;
      a {
        color: #888888;
      }
    }
    &__main {
      margin: 16px 0;
      .item_photo {
        background-color: #fafafa;
        min-height: 375px;
        max-width: 300px;
        min-width: 300px;
        float: left;
        position: relative;
        .active_image {
          width: 300px;
          height: 300px;
          object-fit: scale-down;
          border: solid 1px silver;
        }
        &__list {
          height: auto;
          width: 300px;
          ul {
            list-style-type: none;
            font-size: 0;
            li {
              display: inline-block;
              .passive_image {
                height: 60px;
                width: 60px;
                object-fit: cover;
              }
            }
          }
        }
      }
      .item_photo__sold{
        width: 0;
        height: 0;
        border-width: 120px 120px 0 0;
        border-color: #ea352d transparent transparent transparent;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-style: solid;
          &__inner{
            top: -90px;
            font-size: 30px;
            position: absolute;
            left: 0;
            z-index: 2;
            color: #fff;
            transform: rotate(-45deg);
            letter-spacing: 2px;
            font-weight: 600;
        }
      }
      table {
        float: right;
        height: 420px;
        max-width: 330px;
        min-width: 330px;
        border-collapse: collapse;
      }
      table th, table td {
        border: solid 1px #f5f5f5;
        padding: 8px;
        font-weight: 400;
      }
      table th {
        width: 120px;
        background-color: #f5f5f5;
      }
    }
    .price_box {
      text-align: center;
      margin-top: 30px;
      .item-price {
        font-size: 50px;
        margin-right: 16px;
        font-weight: bold;
      }
      .item-tax{
        font-size: 10px;
      }
      .item-shipping-fee {
        font-size: 16px;
      }
    }
    .buy_btn {
      text-align: center;
      background-color: red;
      font-size: 25px;
      line-height: 60px;
      font-weight: bold;
      margin-top: 20px;
      a {
        display:block;
        color: white;
      }
    }
    .buy_btn2 {
      text-align: center;
      background-color: rgb(147, 218, 40);
      font-size: 25px;
      line-height: 60px;
      font-weight: bold;
      margin-top: 20px;
      a {
        display:block;
        color: white;
      }
    }
    .buy_btn3 {
      text-align: center;
      background-color: rgb(128, 128, 128);
      font-size: 25px;
      line-height: 60px;
      font-weight: bold;
      margin-top: 20px;
      a {
        display:block;
        color: white;
      }
    }
    .item_info {
      margin-top: 20px;
      p {
        white-space: pre-wrap;
      }
    }
    .item_container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .item_container__left {
        border-radius: 40px;
        padding: 8px 16px;
        background-color: #f5f5f5;
        .fas {
          color: red;
        }
        .follower_count {
          font-weight: bold;
        }
      }
    }
  }

  .comment-box {
    width: 720px;
    background-color: white;
    margin: 40px auto 30px;
    padding: 30px;
    .container-header {
      .comment-notice {
        color: red;
      }
    }
    #new_comment {
      .textbox {
        width: 660px;
        height: 50px;
        resize: none;
      }
      .send-btn {
        margin: 15px auto;
        width: 300px;
        .form__submit {
          width: 100%;
          height: 50px;
          color: white;
          background-color: #38aef0;
          border: solid 1px #38aef0;
          border-radius: 40px;
          outline: 0;
        }
      }
    }
    .comments {
      margin-top: 10px;
      &__list {
        background-color: #f5f5f5;
        max-height: 200px;
        margin-top: 10px;
        overflow: auto;
        .comment-info {
          margin: 10px 10px;
          display: flex;
          justify-content: space-between;
        }
      }
    }

  }

  .sns_link {
    width: 720px;
    background-color: white;
    margin: 40px auto 30px;
    padding: 30px;
    text-align: center;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        i {
          font-size: 50px;
        }
      }
    }
  }
  .icon-hover:hover{
    opacity: 0.7;
    cursor: pointer;
  }

  .items_user {
    width: 720px;
    margin: 40px auto 0px;
    &__name {
      font-size: 22px;
      margin-bottom: 8px;
      font-weight: 550;
    }
    &__list {
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
          margin: 0 20px 20px 0;
          background-color: white;
          .passive_mage {
            height: 220px;
            width: 220px;
          }
          .items_user__info {
            height: 120px;
            width: 220px;
            padding: 16px;
            .items_user__text {
              height: 50px;
              overflow: hidden;
            }
            .items_user__price {
              margin-top: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .item_info_bottom {
    border-top: 1px #eeeeee solid;
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0px;
    p {
      display: inline-block;
      font-weight: bold;
    }
  }
}




.itemLists {
  display: flex;
  width:autp;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  justify-content: center;
  margin: 20px 300px;

  .itemContent {
    margin: 10px 0 10px;
    display: block;
    margin: 24px 0 8px;
    color: #3CCACE;
    text-decoration: none;
    position: relative;
    a{
      text-decoration: none;
    }
      &__image {
        height: 150px;
        margin: 0;
        z-index: auto;
          img {
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
      }
      &__info {
        background-color: white;
        color: #333;
        padding: 16px;
        .shipping {
          font-size: 13px;
          color: gray;
        }
      }
  }
  .itemContent:hover{
    opacity: 0.5;
    cursor: pointer;
  }
}

//// 購入確認画面のcss

.buy-check_body {
  height: auto;
  background-color: #f5f5f5;
  .buy-check_section {
    background-color: white;
    margin: 0 auto;
    padding: 30px;
    width: 720px;
    &__header {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      padding: 32px;
      border-bottom: 1px solid lightgray;
    }
    &__item-info {
      padding: 32px;
      border-bottom: 1px solid lightgray;
      display: flex;
      .item-info__image {
        max-width: 200px;
        max-height: 200px;
        .item_image {
          width: 150px;
          height: 150px;
          object-fit: contain;
        }
      }
      .item-info__detial {
        margin-left: 20px;
        width: 100%;
        position: relative;
        &__name {
          font-size: 20px;
        }
        &__fee {
          position: absolute;
          bottom: 0;
          width: 100%;
          font-size: 20px;
          text-align: right;
          .item-info__price {
            font-size: 26px;
            font-weight: bold;
          }
        }
      }
    }
    &__item-fee {
      padding: 32px;
      border-bottom: 1px solid lightgray;
      .item-payment-amount {
        display: flex;
        justify-content: space-between;
        &__left {
          font-size: 30px;
          font-weight: bold;
        }
        &__right {
          font-size: 40px;
          font-weight: bold;
        }
      }
    }
    &__item-MethodOfPayment {
      padding: 32px;
      border-bottom: 1px solid lightgray;
      .MethodOfPayment {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .MethodOfPayment__select {
        &__card {
          font-size: 20px;
          margin-bottom: 10px;
        }
        &__card-info {
          a {
            text-decoration: none;
            color: #38aef0;
          }
        }
      }
    }
    &__address {
      padding: 32px;
      border-bottom: 1px solid lightgray;
      .shipping-address {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &__left {
          font-size: 20px;
          font-weight: bold;
        }
        &__right {
          a {
            text-decoration: none;
            color: #38aef0;
          }
        }
      }
    }
    &__buy-btn {
      padding: 32px;
      .buy-btn__box {
        margin: 0 auto;
        height: 50px;
        width: 450px;
        background-color: red;
        border-radius: 5px;
        a {
          text-decoration: none;
          color: white;
          text-align: center;
          font-size: 30px;
          line-height: 50px;
          font-weight: bold;
        }
      }
    }
  }
}