* {
  box-sizing: border-box;
  @import 'mixin/flex_align-c';
  @import 'mixin/opacity';
  @import 'mixin/underline';
  .items-box_photo__sold{
    width: 0;
    height: 0;
    border-width: 120px 120px 0 0;
    border-color: #ea352d transparent transparent transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-style: solid;
    &__inner{
      top: -90px;
      font-size: 30px;
      position: absolute;
      left: 0;
      z-index: 2;
      color: #fff;
      transform: rotate(-45deg);
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
  .Main{
    min-width: 1200px;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    background-color: #f8f8f8;
    &__upper{
      width: 100%;
      height: 560px;
      background-image: image-url(pict/bg-mainVisual-pict_pc);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      padding: 0 60px;
      @include flex_align-c;
      &__box{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding-top: 35px;
        h2{
          font-size: 60px;
          color: #fff;
          line-height: 1.2;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
        p{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 18px;
          color: #fff;
          line-height: 1.77778;
          margin:16px 0 0 0;
        }
        &__btn{
          display: flex;
          margin: 24px 0 0 0;
          align-items: center;
          &__abtn{
            img{
              width: 100%;
              vertical-align: bottom;
              @include opacity();
            }
          }
          &__gbtn{
            width: 180px;
            img{
              width: 100%;
              vertical-align: bottom;
              margin-left:10px;
              @include opacity();
            }
          } 
        }
      }
    }
    &__reason{
      width: 100%;
      padding: 60px 20px 0 20px;
      .subtitle{
        width: 100%;
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        @include underline();
      }
      .Lists{
        width: 100%;
        max-width: 1020px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        list-style: none;
        .list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__pict{
            position: relative;
            margin-bottom: 20px;
            span {
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4px;
              font-size: 30px;
              text-align: center;
              margin-right: 5px;
              padding: 10px 20px;
              background-color: #3ccace;
              color: #fff;
            }
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
          .list__h{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin-left: 2px;
            span{
              color: #3ccace;
            }
          }
          .list__p{
            font-size: 18px;
            line-height: 1.5;
            font-weight: normal;
            margin-top: 16px;
          }
        }
        .list__last{
          margin-top: 16px;
          width: 30%;
          text-align: left;
          @include flex_align-c();
          flex-direction: column;
          &__h{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin-left: 2px;
            color: #3ccace;
            span{
              color: black;
            }
          }
          &__p{
            font-size: 18px;
            line-height: 1.5;
            margin-top: 16px;
            font-weight: normal;
          }
        }
      }
    }
    &__middle{
      width: 100%;
      height: 400px;
      background-image: image-url(pict/bg-topMiddleDl-pict);
      background-position: right bottom;
      background-size: cover;
      margin-top: 50px;
      @include flex_align-c();
      &__box{
        color:#fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        h2{
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
        p{
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
          font-weight: normal;
        }
        &__btn{
          @include flex_align-c();
          &__abtn{
            margin-right: 10px;
            img{
              width: 200px;
              @include opacity();
            }
          }
          &__gbtn{
            margin-right: 10px;
            img{
              width: 180px;
              @include opacity();
            }
          }
        }
      }
    }
    &__char{
      width: 100%;
      padding: 60px 100px;
      background-color: #fff;
      .subtitle{
        width: 100%;
        text-align: center;
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        &::after{
          content:"";
          width: 70px;
          height: 4px;
          background-color: #3ccace;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translatex(-50%);
        }
      }
      .lists{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .list{
          width: calc(1/3 * 100%);
          padding: 0 20px;
          text-align: center;
          display: flex;
          flex-direction: column;
          &__pict{
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
          .list__h{
            font-weight: bold;
            font-size: 19px;
            margin: 38px 0 10px;
          }
          .list__p{
            font-size: 17px;
            margin-bottom: 40px;
            font-weight: 200;
            text-align: left;
          }
        }
      }
    }
    &__category{
      height: 100%;
      padding-top: 80px;
      background-color: #f8f8f8;
      h2{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__box{
        &__head{
          text-align: center;
          .title{
            font-size: 24px;
            text-decoration: none;
            color: #3ccace;
            font-weight: bold;
          }
        }
      }
    }
  }
  .itemLists {
    display: flex;
    width: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    justify-content: center;
    margin: 20px 300px;

    .itemContent {
      margin: 10px 0 10px;
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      position: relative;
        &__image {
          height: 150px;
          margin: 0;
          z-index: auto;
            img {
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
        }
      .itemContent a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent:-999px;
        z-index: 2;
        text-decoration: none;
      }
        &__info {
          background-color: white;
          color: #333;
          padding: 16px;
          .shipping {
            font-size: 13px;
            color: gray;
          }
        }
    }
    .itemContent:hover{
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
    




  .akaiba{
    height: 60vh;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 20px;
      .head{
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
        text-align: center;
      }
      .title{
        font-size: 25px;
        font-weight: bold;
        color: #3CCACE;
        text-align: center;
      }
  
  .itemLists {
    display: flex;
    width: auto;
    background-color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    justify-content: center;
    margin: 20px 300px;

    .itemContent {
      margin: 10px 0 10px;
      display: block;
      margin: 24px 0 8px;
      text-decoration: none;
      &__image {
        height: 150px;
        overflow: hidden;
        margin: 0;
        z-index: auto;
          img {
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
      }
      a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent:-999px;
        z-index: 2;
        text-decoration: none;
      }
      &__info {
        background-color: white;
        color: #333;
        padding: 16px;
      }
    }
    .itemContent:hover{
      opacity: 0.1;
      cursor: pointer;
    }
  }

}