* {
  box-sizing: border-box;
  @import 'mixin/flex_align-c';
  @import 'mixin/opacity';
  @import 'mixin/underline';
  .search{
    background-color: #f5f5f5;
    min-width: 1000px;
    display: flex;
    min-height: 100vh;

    &-left{
      padding:0 15px;
      background-color: white;
      width: 230px;
      height: 90px;

    }
    &-right{
      background-color: white;
      margin-left: 70px;
      height: 100%;
    }
    &-result-number{
      min-width: calc(100vw - 500px);
    }
    &-container{
      margin-top: 40px;
      margin-left: 110px;
      display: flex
    }
  }

  .searchLists {
    text-align: right;
    width: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    justify-content: center;
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: auto;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    align-items: center;
    justify-self: baseline;

    .searchContent {
      width: 240px;
      margin: 10px 0 10px;
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      position: relative;
      margin-right: 30px;
      a{
        text-decoration: none;
      }
      .searchContent a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent:-999px;
        z-index: 2;
      }
        &__image {
          width: 240px;
          height: 150px;
          margin: 0;
          z-index: auto;
            img {
            width: 240px;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
        }
        &__info {
          background-color: white;
          color: #333;
          padding: 16px;
          text-align: left;
          .shipping {
            font-size: 13px;
            color: gray;
          }
        }
    }
    .searchContent:hover{
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .items-box_photo__sold{
    width: 0;
    height: 0;
    border-width: 120px 120px 0 0;
    border-color: #ea352d transparent transparent transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-style: solid;
    &__inner{
      top: -90px;
      font-size: 30px;
      position: absolute;
      left: 0;
      z-index: 2;
      color: #fff;
      transform: rotate(-45deg);
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
  .items-box-container{
    width: 810px;
  }
}

