.detail_search
  .sc-side__sort
    %select{name: :sort_order, class: 'sort_order'}
      %option{value: "location.pathname", name: "location.pathname"}
        並び替え
      %option{value: "price_asc"}
        価格の安い順
      %option{value: "price_desc"}
        価格の高い順
      %option{value: "created_at_asc"}
        出品の古い順
      %option{value: "created_at_desc"}
        出品の新しい順