.Lower-photo
  .Lower-photo__box
    %h2.subtitle だれでもかんたん、人生を変えるフリマアプリ
    %p.text
      今すぐ無料ダウンロード！
    .Lower-photo__box__btn
      .Lower-photo__box__btn__abtn
        = link_to image_tag("svg/Download_app-store.svg", alt:"app store"), "#"
      .Lower-photo__box__btn__gbtn
        = link_to image_tag("svg/google-play-badge.png", alt:"google play"), "#"