=render "items/header"
.search
  .search-container
    .search-left
      = render 'form'
    .search-right
      %section.items-box-container
        -if @items.present?
          %h2.search-result-head
            =@search
            %span.search-result-head-text
              の検索結果
          .search-result-number
            .searchLists
              - @items.each do |item|
                .searchContent
                  =link_to item_path(item.id) , data: {"turbolinks" => false} do
                    -if item.buyer_id.present? 
                      .items-box_photo__sold
                        .items-box_photo__sold__inner SOLD
                    %figure.searchContent__image
                      =image_tag item.images[0].image_url.url, class:"img"
                    .searchContent__info
                      %h3.name
                        = item.name
                      %ul
                        %li 
                          = item.price.to_s(:delimited)
                          円
                      %p.shipping 
                        (税込)
        -else
          検索にヒットする商品はありませんでした


= render "items/btn"

