.Btn{
  &__display{
    width: 120px;
    background: #3ccace;
    text-align: center;
    border-radius: 4%;
    position: fixed;
    bottom: 32px;
    right: 32px;
    padding: 15px;
    &:hover{
      opacity: 0.9;
      transition: 200ms;
    }
    span{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    img{
      width: 60%;
      vertical-align: bottom;
    }
  }
}