@import 'mixin/flex_align-c';
@import 'mixin/opacity';
.Usergray{
  min-width: 1000px;
  background-color: #f5f5f5;
  padding: 40px;
}
.User {
  width: 100%;
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  box-sizing: border-box;
  background-color: white;

  &__body {
    width: calc(100% - 250px);
    background-color: #ffffff;
    margin: 5px 0px 0px 20px;
    border-radius: 4px;
    &__bgc {
      width: 100%;
      height: 200px;
      background-color: #3ccace;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      color: #ffffff;
      padding: 40px 30px;

      .Userlisence {
        width: 250px;
        height: 120px;
        background-color: #ffffff;
        color: #000000;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        font-weight: bold;

        &--title {
          font-size: 18px;
          border-bottom: 2px solid #3ccace;
          color: #3ccace;
          padding-bottom: 10px;
        }
        &--name {
          margin-top: 18px;
          font-size: 20px;
          color: #333333;
        }
      }
      .Prof {
        margin-left: 50px;
        font-weight: bold;
        &__data {
          margin-top: 5px;
        }
      }
    }
    &__subtitle{
      font-weight: bold;
      font-size: 20px;
    }
    &__lists {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
      overflow: auto;
      a{
      text-decoration: none;
      }
      .item-Lists{
        width: 220px;
        height: 230px;
        display: inline-block;
        position: relative;
        margin-right: 20px;
        display: flex;

        .itemContent{
          background-color: #fff;
          display: inline-block;
          position: relative;

          figure{
            width: 200px;
            height: 150px;
            position: relative;
            overflow: hidden;
            z-index: auto;
            margin: 0;
  
            img{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
        }
        .itemContent:hover{
          opacity: 0.5;
          cursor: pointer;
        }
        .itemContent__info{
          color:#333;
          padding: 16px;
          height: 80px;
          width: 220px;
  
          h3{
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
          }
        }
        ul{
          @include flex_align-c();
          justify-content: space-between;
          list-style: none;
          font-size: 16px;
          color: #333333;
        }
        p{
          font-size: 10px;
          text-align: left;
          color: #333333;
          font-weight: normal;
        }
        .items-box_photo__sold{
          width: 0;
          height: 0;
          border-width: 120px 120px 0 0;
          border-color: #ea352d transparent transparent transparent;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          border-style: solid;
          &__inner{
            top: -90px;
            font-size: 30px;
            position: absolute;
            left: 0;
            z-index: 2;
            color: #fff;
            transform: rotate(-45deg);
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
      }
    }
  }
}