@import 'mixin/flex_align-c';
@import 'mixin/opacity';
.Usergray{
  background-color: #f5f5f5;
}
.User {
  width: 100%;
  max-width: 1040px;
  height: 90vh;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  box-sizing: border-box;
  background-color: white;

  &__body {
    width: calc(100% - 250px);
    background-color: #ffffff;
    margin: 5px 0px 0px 20px;
    border-radius: 4px;
    &__bgc {
      width: 100%;
      height: 200px;
      background-color: #3ccace;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      color: #ffffff;
      padding: 40px 30px;

      .Userlisence {
        width: 200px;
        height: 120px;
        background-color: #ffffff;
        color: #000000;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        font-weight: bold;

        &--title {
          font-size: 18px;
          border-bottom: 2px solid #3ccace;
          color: #3ccace;
          padding-bottom: 10px;
        }
        &--name {
          margin-top: 18px;
          font-size: 20px;
          color: #333333;
        }
      }
      .Prof {
        margin-left: 50px;
        font-weight: bold;
        &__data {
          margin-top: 5px;
        }
      }
    }
    .User__body
    &__subtitle{
      font-weight: bold;
      font-size: 20px;
    }
    &__lists {
      margin: 10px auto;
      display: flex;
      justify-content: center;
      padding-left: 20px;
  
      .itemList{
        width: 220px;
        height: 230px;
        display: inline-block;
        @include opacity();
        position: relative;
        margin-right: 20px;
        
        a{
          background-color: #fff;
          display: inline-block;
          text-decoration: none;
          position: relative;
  
          figure{
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
  
            img{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
        }
        .List__body{
          color:#333;
          padding: 16px;
          height: 80px;
          width: 220px;
  
          h3{
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .List__price{
          font-size: 16px;
          color: #333333;
          ul{
            @include flex_align-c();
            justify-content: space-between;
            list-style: none;
            li{
              color: #333333;
              .fas{
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font: normal normal normal 14px/1 "Font Awesome 5 Free";
                &::before{
                  content: "\f005";
                }
              }
            }
          }
          p{
            font-size: 10px;
            text-align: left;
            color: #333333;
            font-weight: normal;
          }
        }
        .List__sold{
          width: 0;
          height: 0;
          border-top: 40px solid #3ccace;
          border-right: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-left: 40px solid #3ccace;
          z-index:100;
          position: absolute;
          top: 0px;
          left: 0px;
          &__inner{
            color: #fff;
            transform: rotate(-45deg);
            font-size: 20px;
            margin:-16px 0px 0px -32px;
            letter-spacing: 2px;
            font-weight: bold;
          }
        }
      }
    }
  }
}