*{
  box-sizing: border-box;
}
.exhibit{  
  text-align: center;
  background-color: #f5f5f5;
  width: 100vw;
  height: auto;
  margin-bottom: 40px;
  &__image {
    padding: 30px 50px 0px 50px;
    &__title {
      font-weight: bold;
      padding-bottom: 10px;
      display: flex;
      .optional {
        background-color: grey;
      }
    }
    &__text {
      font-size: 15px;
      padding-bottom: 10px;
    }
    &__upload {
      height: 170px;
      width: 600px;
      display: flex;
      justify-content: start;
      align-items: center;
      .previews {
        display: flex;
        justify-content: start;
        align-items: center;
        &__field {
          padding: 0px 5px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
        }
      }
      .area{
        width: 100%;
        .field {
          display: flex;
          justify-content: start;
          align-items: center;
          .file {
            width: 80px;
            text-align: center;
            font-weight: bold;
            color: white;
            border-radius: 5px;
            padding: 5px;
            margin: 0px 15px;
            position:relative;
            &__image {
              position:absolute;
              top:0;
              left:0;
              display: none;
            }
            .icon {
              height: 110px;
              width: 110px;
              color: aqua;
              font-size: 50px;
              text-align: center;
              background-color: rgb(245, 245, 245);
              border-style: solid;
              border-radius: 5px;
              padding: 25px;
            }
          }
        }
      }
    }
  }
  &__single-container{
    background-color: white;
    width: 700px;
    height: 100%;
    margin: 0 auto;
  }
  &__sell-upload-head{
    font-size: 16px;
    display: flex;
    font-weight: bold;
    align-items: center;
  }
  &__sell-upload-head2{
    font-size: 16px;
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-top: 10px;
  }
  &__form-require{
    background-color: red;
    color: white;
    margin: 0 0 0 8px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: top;
  }
  &__form-require2{
    background-color: #C0C0C0;
    color: white;
    margin: 0 0 0 8px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: top;
  }
  &__form-require3{
    background-color: red;
    color: white;
    margin: 0 0 0 8px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
  }
  &__p{
    font-size: 14px;
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__no-image{
    margin-top: 16px;
     color: red;
   }
   &__item-name-detail{
     padding:10px 40px 10px 40px;
     width: 100%;
     height: 400px;
   }
   &__form-group{
     margin: 40px 0 0 0;
    height: 72px;
    input{
      height: 45px;
      width: 100%;
    }
    textarea{
      width: 620px;
      height: 140px;
      border-radius: 5px;
     }
   }
   &__item-detail{
     width: 100%;
     height: 500px;
     padding: 0px 40px 40px 40px;
     margin-bottom: 50px;
   }
   &__item-postage{
     width: 100%;
     height: 550px;
     padding: 0px 40px 0px 40px;
  }
  
  h3{
    font-size: 14px;
    float: left;
    margin: 14px 0;
    color: #888888;
  }
  &__show-form-box{
    float: right;
    width: 100%;
    margin: 0;
  }
  &__tk-form-group{
    margin: 40px 0 0;
  }
  &__no-product{
    margin-top: 16px;
    color: red;
  }
  &__no-product2{
    color: red;
    font-size: 14px;
    float: right;
  }
  &__select-wrap{
    text-align: initial;
    margin: 8px 0 0;
    position: relative;
  }
  select{
    width: 100%;
    height: 50px;
  }
  .select-default{
    text-decoration: none;
  }
  .brand-select{
    width: 100%;
    height: 50px;
  }
  .size-select{
    width: 100%;
    height: 50px;
  }
  .form-question{
    text-decoration: none;
    color: #fff;
    background-color: #99FFFF;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    line-height: 14px;
    font-size: 12px;
     text-align: center;
   }
   &__item-price{
     width: 100%;
     height: 450px;
     padding: 10px 40px ;
   }
  &__tk-selling-price{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
  }
  &__input-price{
    width: 100%;
    height: 46px;
    padding-bottom: 12px;
    display: flex;
  }
  .doll-mark{
    margin-left: auto;
    margin-top: 10px;
  }
  &__enter-price{
    align-items: center;
    width: 50%;
    
  }
  &__enter-price2{ 
    position: relative;
  }
  .tk-price{
    width: 100%;
    height: 40px;
  }
  .tk-price::placeholder{
    text-align: right;
  }
  &__commission{
    padding: 12px 0;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    height: 46px;
    border-bottom: 1px solid #808080;
  }
  &__commission2{
    padding: 12px 0;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    height: 46px;
  }
  &__commission-box{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10px;
  }
  &__send-boxes{
    width: 50%;
    height: 100px;
    margin: 0 130px 32px 130px;
  }
  &__send-box{
    width: 100%;
    height: 50px;
  }
  .send-btn{
    width: 100%;
    height: 100%;
    font-size: 17px;
    min-height: 48px;
    padding-top: 10px;
    background-color: #3ccace;
    border-radius: 5px;
    color: black;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  .note{
    font-size: 12px;
  }
}