// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  box-sizing: border-box;
}
.exhibit{
  width: 100vw;
  height: 100%;
  
  &__single-container{
    width: 700px;
    height: 100%;
    margin: 0 auto;
  }
  &__item-images{
    padding: 40px 40px 0 40px;
    width: 100%;
    
  }
  &__single-head{
    padding: 32px 16px;
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
    color: black;
    border-bottom: 2px solid #C0C0C0;
  }
  &__sell-upload-head{
    font-size: 16px;
    display: flex;
    font-weight: bold;
    align-items: center;
  }
  &__sell-upload-head2{
    font-size: 16px;
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-top: 10px;
  }
  &__form-require{
    background-color: red;
    color: white;
    margin: 0 0 0 8px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: top;
  }
  &__form-require2{
    background-color: #C0C0C0;
    color: white;
    margin: 0 0 0 8px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: top;
  }
  &__form-require3{
    background-color: red;
    color: white;
    margin: 0 0 0 8px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
  }
  &__p{
    font-size: 14px;
    margin: 8px 0 0;
    line-height: 1.5;
  }
  
  #image-box-1{
    flex-wrap: wrap;
  }

  .item-box{
    display: block;
    height: 100px;
    background-color: #C0C0C0;
    margin: 16px 0 0 0  ;
    border: 2px dotted #888888;
    word-wrap: break-all;
    text-align: center;
    font-size: 30px;

  }
  .item-num-0{
    width: 620px;
  }
  .item-num-1{
    width: 491px;
  }
  .item-num-2{
    width: 363px;
  }
  .item-num-3{
    width: 234px;
  }
  .item-num-4{
    width: 106px;
  }
  //下段のfile_field
  .item-num-5{
    width: 100%;
  }
  .item-num-6{
    width: 491px;
  }
  .item-num-7{
    width: 363px;
  }
  .item-num-8{
    width: 234px;
  }
  .item-num-9{
    width: 106px;
  }
  &__sell-upload-items-container{
    width: 100%;
    height: 100%;
  }
  &__sell-upload-drop-box{
    height: 100%;
    width: 100%;
    margin-left: 0;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
      touch-action: manipulation;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      display: none;
    }
    pre{
      text-align: center;
      font-size: 14px;
    }
  }
  &__no-image{
    margin-top: 16px;
    color: red;
  }
  &__item-name-detail{
    padding: 40px;
    width: 100%;
    height: 440px;
  }
  &__form-group{
    margin: 40px 0 0 0;
    height: 72px;
    input{
      height: 45px;
      border-radius: 5px;
      width: 100%;
    }
    textarea{
      width: 620px;
      height: 140px;
      border-radius: 5px;
    }
  }
  &__item-detail{
    width: 100%;
    height: 500px;
    padding: 0px 40px 40px 40px;
  }
  &__item-postage{
    width: 100%;
    height: 550px;
    padding: 0px 40px 0px 40px;
  }
  
  h3{
    font-size: 14px;
    float: left;
    margin: 14px 0;
    color: #888888;
  }
  &__show-form-box{
    float: right;
    width: 100%;
    margin: 0;
  }
  &__tk-form-group{
    margin: 40px 0 0;
  }
  &__no-product{
    margin-top: 16px;
    color: red;
  }
  &__no-product2{
    color: red;
    font-size: 14px;
    float: right;
  }
  &__select-wrap{
    margin: 8px 0 0;
    position: relative;
  }
  select{
    width: 100%;
    height: 50px;
  }
  .select-default{
    text-decoration: none;
  }
  .brand-select{
    width: 100%;
    height: 50px;
  }
  .form-question{
    text-decoration: none;
    color: #fff;
    background-color: #99FFFF;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
  &__item-price{
    width: 100%;
    height: 550px;
    padding: 40px 40px 64px;
  }
  .tk-value{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 24px;
  }
  &__tk-selling-price{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
  }
  &__input-price{
    width: 100%;
    height: 46px;
    padding-bottom: 12px;
    display: flex;
  }
  .doll-mark{
    margin-left: auto;
    margin-top: 10px;
  }
  &__enter-price{
    align-items: center;
    width: 50%;
    
  }
  &__enter-price2{ 
    position: relative;
  }
  .tk-price{
    width: 100%;
    height: 40px;
  }
  .tk-price::placeholder{
    text-align: right;
  }
  &__commission{
    padding: 12px 0;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    height: 46px;
    border-bottom: 1px solid #808080;
  }
  &__commission2{
    padding: 12px 0;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    height: 46px;
  }
  &__commision-box{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10px;
  }
  &__send-boxes{
    width: 50%;
    height: 100px;
    margin: 0 130px 32px 130px;
  }
  &__send-box{
    width: 100%;
    height: 50px;
  }
  .send-btn{
    width: 100%;
    height: 100%;
    font-size: 17px;
    min-height: 48px;
    padding-top: 10px;
    background-color: red;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }
  .note{
    font-size: 12px;
  }
}

.exhibit__sell-up-load-head {
  font-weight: bold;
}

.child {
  display: none;
}

.grand_child {
  display: none;
}
